@page "/"

<PageTitle>Inicio</PageTitle>

<h1>
    Únete a PODER: Nuestras voces importan
</h1>


<Carousel ShowIndicators="true">
    <CarouselItem>
        <Image Src="https://placehold.co/1920x768?text=Carousel+1" />
    </CarouselItem>
    <CarouselItem>
        <Image Src="https://placehold.co/1920x768?text=Carousel+2" />
    </CarouselItem>
    <CarouselItem Active="true">
        <Image Src="https://placehold.co/1920x768?text=Carousel+3" />
    </CarouselItem>
</Carousel>

